/*!purgecss start ignore */

.py-05 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.kg-gallery-image {
  margin-bottom: 1rem;
}

.kg-gallery-container {
  display: flex;
  flex-direction: column;
  max-width: 1040px;
  width: 100%;
}

.kg-gallery-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.kg-gallery-image img {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
}

.kg-gallery-row:not(:first-of-type) {
  margin: 0.75em 0 0 0;
}

.kg-gallery-image:not(:first-of-type) {
  margin: 0 0 0 0.75em;
}

.kg-gallery-card + .kg-image-card.kg-width-wide,
.kg-gallery-card + .kg-gallery-card,
.kg-image-card.kg-width-wide + .kg-gallery-card,
.kg-image-card.kg-width-wide + .kg-image-card.kg-width-wide {
  margin: -2.25em 0 3em;
} 

.richtext {
  @apply leading-normal break-words text-body font-serif text-lg;
}

@screen lg {
  .richtext {
    @apply leading-loose text-xl;
  }
}

.richtext > * {
  @apply mt-0 mb-4;
}

.richtext li + li {
  @apply mt-1;
}

/* Could not understand the logic here */
/* .richtext li > p + p {
  @apply mt-6;
} */

.richtext strong {
  @apply font-medium;
}

.richtext a {
  @apply border-blue-200 border-b-2;
}

.richtext strong a {
  @apply font-medium;
}

.richtext a:hover {
  @apply border-blue-700;
}

.richtext h1 {
  @apply leading-tight text-3xl font-medium mb-4 mt-12 pb-2;
}

.richtext h2 {
  @apply leading-tight text-2xl font-medium mb-4 mt-12 pb-2;
}

.richtext h3 {
  @apply leading-snug text-xl font-medium mb-4 mt-8;
}

.richtext h4 {
  @apply leading-none text-lg uppercase font-medium mb-4 mt-8;
}

.richtext h5 {
  @apply leading-tight font-medium mb-4 mt-6;
}

.richtext h6 {
  @apply leading-tight italic font-medium mb-4 mt-6;
}

.richtext blockquote {
  @apply text-xl border-l-4 border-blue-600 pl-4 pr-4 text-gray-900 italic;
}

.richtext code {
  @apply font-mono text-sm inline bg-gray-200 rounded px-1 py-05;
}

.richtext pre {
  @apply bg-gray-100 rounded p-4 mt-1 overflow-auto;
}

.richtext pre code {
  @apply block text-sm bg-transparent p-0 overflow-visible rounded-none;
}

.richtext ul {
  @apply pl-8 list-disc;
}

.richtext ol {
  @apply pl-8 list-decimal;
}

.richtext kbd {
  @apply inline-block rounded border px-1 py-05 align-middle font-normal font-mono shadow;
}

.richtext table {
  @apply text-base border-gray-600;
}

.richtext th {
  @apply border py-1 px-3;
}

.richtext td {
  @apply border py-1 px-3;
}

.richtext .highlight pre {
  @apply bg-gray-100 !important;
}

.richtext p img {
  @apply inline;
}

.richtext figure,
.richtext img {
  max-width: 100%;
}

.richtext figure {
  @apply flex flex-col items-center justify-center;
}

.richtext iframe {
  max-width: 100%;
}

.richtext figcaption {
  @apply max-w-3xl text-center text-gray-600 text-sm;
}

@media screen and (max-width: 425px) {
  .richtext iframe {
    max-width: 100%;
  }
  .richtext figure img {
    max-width: 100%;
  }
}

.kg-bookmark-card {
  width: 100%;
  margin-top: 0;
}

.kg-bookmark-container {
  display: flex;
  min-height: 148px;
  color: var(--color-base);
  font-family: var(--font-sans-serif);
  text-decoration: none;
  border-radius: 3px;
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.09);
}

.kg-bookmark-container:hover {
  color: var(--color-base);
  text-decoration: none;
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.09);
}

.kg-bookmark-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
}

.kg-bookmark-title {
  color: color(var(--color-secondary) l(-30%));
  font-size: 1.6rem;
  line-height: 1.5em;
  font-weight: 600;
  transition: color 0.2s ease-in-out;
}

.kg-bookmark-container:hover .kg-bookmark-title {
  color: var(--color-primary);
}

.kg-bookmark-description {
  display: -webkit-box;
  overflow-y: hidden;
  margin-top: 12px;
  max-height: 48px;
  color: color(var(--color-secondary) l(-10%));
  font-size: 1.5rem;
  line-height: 1.5em;
  font-weight: 400;

  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.kg-bookmark-thumbnail {
  position: relative;
  min-width: 33%;
  max-height: 100%;
}

.kg-bookmark-thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0 3px 3px 0;

  object-fit: cover;
}

.kg-bookmark-metadata {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 14px;
  color: color(var(--color-secondary) l(-10%));
  font-size: 1.5rem;
  font-weight: 400;
}

.kg-bookmark-icon {
  margin-right: 8px;
  width: 22px;
  height: 22px;
}

.kg-bookmark-author {
  line-height: 1.5em;
}

.kg-bookmark-author:after {
  content: "•";
  margin: 0 6px;
}

.kg-bookmark-publisher {
  overflow: hidden;
  max-width: 240px;
  line-height: 1.5em;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*!purgecss end ignore */
